* {
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: inherit;
  }
  
  body {
    font-family: 'Mulish', sans-serif;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  #root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  img {
    user-select: none;
  }

button,
input {
  outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}